<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.title}}</title>
    {{include "layouts/head"}}
</head>
    <body>
        <div class="main-wrapper">
            {{template "navbar" .}}

            <div class="wrapper wp-mt-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        Description
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Description title</h5>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui vivamus arcu felis bibendum. At erat pellentesque adipiscing commodo elit. Purus in massa tempor nec feugiat. Quisque sagittis purus sit amet. Eros donec ac odio tempor orci. Id volutpat lacus laoreet non curabitur gravida. Eget egestas purus viverra accumsan in. Natoque penatibus et magnis dis parturient montes nascetur. Aliquam sem fringilla ut morbi tincidunt augue interdum. Purus non enim praesent elementum facilisis leo. Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. At risus viverra adipiscing at in.
                                            <br><br>
                                            Mi bibendum neque egestas congue. Mattis nunc sed blandit libero volutpat. Elementum integer enim neque volutpat ac. Proin sed libero enim sed faucibus turpis in eu. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Massa ultricies mi quis hendrerit dolor magna eget. Porttitor rhoncus dolor purus non enim. Consectetur libero id faucibus nisl tincidunt. Dui vivamus arcu felis bibendum. Non quam lacus suspendisse faucibus interdum posuere. Magna eget est lorem ipsum. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Et netus et malesuada fames ac turpis. Tristique nulla aliquet enim tortor at auctor urna nunc. Est ante in nibh mauris cursus mattis. A lacus vestibulum sed arcu non odio euismod lacinia at. Tellus rutrum tellus pellentesque eu tincidunt. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Condimentum id venenatis a condimentum vitae sapien pellentesque.
                                            <br><br>
                                            Lacus vel facilisis volutpat est velit egestas dui. Nec nam aliquam sem et tortor. A pellentesque sit amet porttitor eget dolor. Justo donec enim diam vulputate ut pharetra sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Cras sed felis eget velit aliquet. Duis convallis convallis tellus id interdum. Maecenas ultricies mi eget mauris pharetra et ultrices neque. Nisi vitae suscipit tellus mauris. Leo in vitae turpis massa sed. Scelerisque viverra mauris in aliquam. Sed enim ut sem viverra aliquet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{include "layouts/footer"}}
        </div>
    </body>
</html>
